@charset "utf-8";
/* 图库首页*/
img{border:0px;}
*{padding:0;margin:0;border:0;}
a{text-decoration:none;}
.container{font-family:"微软雅黑";width:100%; background:#565656;height:100%; overflow:hidden; }
.header{width:100%;height:129px;background:#1b1b1b;margin-bottom:17px;}
.headerMid{width:980px; margin:auto;height:129px;}
.logo{width:258px;height:76px;margin-left:32px;float:left;margin-top:56px;}
.shouye a{width:63px;height:31px; background:url(../images/anniu.png) no-repeat 0 0 ;margin-left:28px;float:left;margin-top:80px;}
	.shouye a:hover{ background:url(../images/anniu.png) no-repeat 0 -31px; }
.new a{width:63px;height:31px; background:url(../images/anniu.png) no-repeat -63px 0 ;margin-left:15px;margin-top:80px;float:left;}
	.new a:hover{ background:url(../images/anniu.png) no-repeat  -63px -31px ; }
.tushuo a{width:63px;height:31px; background:url(../images/anniu.png) no-repeat -128px 0;margin-left:15px;margin-top:80px;float:left;}
	.tushuo a:hover{ background:url(../images/anniu.png) no-repeat -128px -31px ; }
.mid{width:980px; margin:auto; background:#000;height:100%; overflow:hidden; }
.hand{cursor:pointer;}
/* leftBtn loaded */
#left_but{background: none;}


#list{margin-top:-3px;width:980px;height:40px; background:url(../images/bg_line_repeat.gif);float:left;}
#list_p{margin-top:13px;margin-left:37px;color:#8d8c8c;font-size:12px; font-family:"宋体"; }
#list_p a{color:#8d8c8c; text-decoration:none;}
#list_title,#list_detali,#list_fun{float:left;}
#list_title p{font-size:23px;color:#ffffff;height:43px; line-height:43px;width:980px; text-align:center;}
#list_detali p{font-size:12px;color:#8d8d8d;height:18px; line-height:18px;width:980px; text-align:center;}
#list_detali p span{margin-right:10px;}
#list_fun{width:980px;height:44px;padding-top:10px;}
#list_fun div{float:left;color:#bdbdbd; font-size:12px;margin:0px 5px;}
#list_fun div img{margin-top:4px;}
#list_fun_one{width:122px;height:44px;}
#list_fun_pro span{color:#6e6e6e;margin-left:10px;}
#list_fun_ret span{margin-left:100px;}
#left_but{clear:left;float:left;margin-top:202px;margin-left:35px;}
#left_but a{background:url(../images/btn_arrow_press.gif); display:block;width:60px;height:60px;}
#left_but a:hover{background:url(../images/btn_arrow_r.png)}
#tuji_show{width:740px;height:auto;height:550px;float:left;margin:0px 30px;overflow:hidden;position:relative;overflow:hidden;}
#tuji_show_containner{width:auto;height:550px;position:absolute;left:0px;}
#tuji_show img{margin:auto; position:relative; z-index:0;}
#right_but{float:left;margin-top:202px;}
#right_but a{background:url(../images/btn_arrow_l_press.gif); display:block;width:60px;height:60px;}
#right_but a:hover{background:url(../images/btn_arrow.gif)}
#tuji_intro{width:740px;margin:auto;clear:left;height:172px}
#tuji_intro p{ text-indent:2em;color:#b9b9b9; font-size:12px;margin-top:20px;float:left;}
#scoll{width:773px;height:178px; border:1px solid #7d7d7d;margin-left:103px;position:relative;}
#scoll_left{margin-left:10px;margin-top:37px;float:left;}
#scoll_mid{margin-top:13px;float:left;height:127px;width:645px;margin-left:16px; position:relative;;overflow:hidden;}
.scroll_mid_bac{height:127px;width:150px;position:absolute;background:url(../images/rectangular.gif);}
.scoll_image{height:127px;width:auto;position:absolute;left:0px;}
.scoll_image_mid{height:127px;width:150px;overflow:hidden;float:left;margin-left:15px;}
#scoll_right{float:left;margin-top:37px;margin-left:26px;}
#scoll_line{width:700px;height:13px;overflow:hidden;margin-left:55px;position:relative;top:10px;}
#point_left{float:left; background:url(../images/point.gif);width:10px;height:10px;margin-top:2px;}
#line{float:left;width:670px;background:#808080;border:1px solid #808080;margin-top:7px;}
#point_right{float:left;background:url(../images/point.gif);width:10px;height:10px;margin-top:2px;}
#moveBut{width:auto;height:13px;position:absolute;left:10px;overflow:hidden;z-index:100;}
#moveBut img{float:left;}
#moveBut div{float:left;}
.moveLen{width:20px;height:13px;background:#a6a6a6;}
#scoll_liuImg{margin-top:24px;}
.liuImg{clear:both;width:97px;height:26px;margin-left:105px;}
#scoll_liuDott{ background:url(../images/liuL.gif);margin-left:103px;width:773px;margin-top:17px;height:1px;}
.scoll_liuContainer{height:100%; overflow:hidden;margin-left:103px;width:773px;}
.scoll_liuTit{margin-left:24px;color:#8c8c8c; font-size:12px;margin-top:5px;}
.liuDate{margin-left:15px;}
.scoll_liuR{color:#bfbfbf;margin-left:24px;margin-top:11px; font-size:14px; font-family:"宋体";}
.scoll_liuX{background:url(../images/liuL.gif);width:773px;margin-top:26px;height:1px;}
#scoll_liuImg2{margin-top:18px;}
#txt{margin-left:215px;}
#txt textarea{width:556px;height:135px; background:#333333;color:#b5b5b5; font-size:12px; }
#liu_return{margin:10px 0px 0px 220px;}
#liu_tishi{color:#585858;font-size:12px;float:left;}
#liu_but{float:left;margin-left:345px;*margin-left:70px;}
#liu_space{height:15px;width:980px;clear:both;}
.bot{height:122px; background:#1b1b1b;margin-top:24px; width:100%; }
.bot_address{color:#d0d0d0; font-size:12px;float:left;clear:both;text-align:center;line-height:18px; text-align:center;height:18px;width:100%;}
.bot_icp{margin-top:45px;}
.bot_add a{color:#d0d0d0;}

/*播放页面*/
#cboxOverlay{display:none; opacity: 0.9; cursor: pointer;background:black;position:absolute;width:100%;height:100%;overflow:hidden;z-index:9999;}
#tuji2{width:980px; margin:50px auto; background:#000;height:100%;overflow:hidden;}
#left_but2{clear:left;float:left;margin-top:202px;margin-left:35px;}
#tuji_show2{width:740px;height:auto;height:550px;float:left;margin:0px 30px;overflow:hidden;position:relative;overflow:hidden;}
#tuji_show2 img{margin:auto;}
#tuji_show_containner2{width:auto;height:550px;position:absolute;left:0px;}
#tuji_show2 img{margin:auto;}
#right_but2{float:left;margin-top:202px;}
#open_close{float:right;margin-right:0px;color:white;}

/*index 页面*/
#index_mid{height:790px; position:relative;}
#mid_tit{width:980px;height:40px; background:url(../images/bg_index.gif);float:left;}
#mid_con{width:860px;margin:auto;height:790px; position:absolute;left:63px;}
#mid_log{margin-top:15px;margin-left:2px;}
#scroll{width:860px;height:300px;margin-top:30px;}
#scroll_div{width:860px;height:271px; position:relative;overflow:hidden;float:left;}
.ynode_scroll{width:3440px;height:271px;overflow:hidden;position:relative;}
.ynode_scrollImg{width:860px;height:271px;left:0px; position:absolute;}
.ynode_img{width:860px;height:271px;float:left;display:block; position:relative;}
.sdiv{ position:absolute;overflow:hidden;}
.div_left{width:478px;height:271px;left:0px;top:0px;}
.div_rightT{width:230px;height:144px;left:488px;top:0px;}
.div_rightT2{width:130px;height:144px;left:728px;top:0px;}
.div_rightB{width:131px;height:117px;left:488px;top:154px;}
.div_rightB2{width:230px;height:117px;left:629px;top:154px; background:#1b1b1b;}
.sc_list{height:30px;width:860px;background:#0d0d0d;}
.sc_list ul{ list-style:none;margin-left:378px; margin-top:14px;float:left;}
.sc_list ul li{width:26px;height:6px;float:left; background:#7c7c7c;margin-left:8px;}
.show{width:203px;height:136px;float:left;position:relative;}
.show img{width:203px;height:136px;}
.showTop{margin:38px 0px 0px 15px;}
.showBot{margin:35px 0px 0px 15px;}
.f{margin-left:0px;}
.dj{width:203px;height:42px;top:94px;position:absolute;opacity: 0;filter:alpha(opacity=0);left:0;font-size:12px;background:black;z-index:99;text-align:center;color:white;}
.dj:hover{opacity: 0.5;filter:alpha(opacity=50);}
.dj p{height:16px;margin:0px;padding:0px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*show页面 */
#show_mid{height:1022px; position:relative;width:980px;}
#show_list{float:left;width:150px;height:1022px; background:#0d0d0d;}
.show_m{height:50px;width:150px;}
.listTxt a{text-decoration:none;color:#585858;}
.listTxt{color:#585858;height:50px; font-size:22px;line-height:50px;width:150px;text-align:center; }
.listTxt:hover{background:#185d96; }
#show_lAll{margin-top:50px;}
#show_lAll:hover{background:#185d96;}
#show_lFJ:hover{background:#185d96;}
#show_lCY:hover{background:#185d96;}
#show_lGS:hover{background:#185d96;}
#show_lQC:hover{background:#185d96;}
#show_lJY:hover{background:#185d96;}
#show_lTX:hover{background:#185d96;}
#l1{background:url(../images/fenlei_css.png);}
#l2{background:url(../images/fenlei_css.png);background-position:0px -50px;}
#l3{background:url(../images/fenlei_css.png);background-position:0px -100px;}
#l4{background:url(../images/fenlei_css.png);background-position:0px -150px;}
#l5{background:url(../images/fenlei_css.png);background-position:0px -200px;}
#l6{background:url(../images/fenlei_css.png);background-position:0px -250px;}
#l7{background:url(../images/fenlei_css.png);background-position:0px -300px;}
#show_con{width:830px;height:1022px; position:relative;float:left;}
#show_tit{width:830px;height:40px; background:url(../images/bg_index.gif);}
#show_logTxt{ position:absolute;top:20px;left:20px; font-size:20px;color:#a1a1a1;}
.show_pic{width:210px;height:139px;float:left;margin-left:40px;margin-top:40px; position:relative;}
.posts_title{width:210px;height:42px;position:absolute;opacity: 0;background:black;z-index:99;color:white;top:100px;line-height:42px;text-align:center;}
.posts_title:hover{opacity: 0.6;}
.show_picF{margin-left:70px;}
#show_page{margin-top:40px;width:830px;height:24px;float:left;}
#leftPage{width:59px;height:24px;margin-left:180px;float:left;}
#rightPage{width:59px;height:24px;float:left;}
#pageNum{ list-style:none;float:left;margin:0px 6px 0px 6px;}
#pageNum li{width:36px;color:#747474; font-size:9px;float:left;line-height:24px;text-align:center;}
.admin_name{margin-left:215px;background:#333333;color:#b5b5b5; font-size:12px;margin-top:10px;}
.admin_comments{background:#333333;color:#b5b5b5; font-size:12px;}
